
body {
  background-color: #18332B;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #113E30;
  color: white;
  padding: 4vh;
}

header a {
  color: white;
  text-decoration: none;

  /* When hovered turn the background red */
  transition: background-color 0.5s ease;
}

a:hover {
  color: #eeeeee;
  text-decoration: underline;
}

/* Centers the h1 */
h1 {
  text-align: center;
  color: #eeeeee;
}

h2 {
  text-align: center;
  color: #eeeeee;
}

